body{
  background-color: lightyellow;
  padding: 5px;
}

header{
  background-color: lightpink;
  padding: 20px;
}

.footer{
  width: 100%;
  font-size: 10;
  padding:20px;
  background-color: yellowgreen;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.footer a{
  font-size: 15px;
  text-decoration: none;
}

.content{
  width: 100%;
  padding: 30px;
  background-color: grey;
  border-radius: 20px;
}

.image{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

form{
  bacground-color: grey;
  border-radius: 20px;
}
.button{
  text-decoration: none;
  font-size: 30px;
  color: White;
  border-radius: 20px;
  background-color:blue;
}

.button a{
  text-decoration: none;
  font-size: 35px;
  color: white;
}

button{
  background: rebeccapurple;
  border: none;
  border-radius: 20px;
}
.sumary{
  background-color: lightcoral;
  width: 95%;
  border-radius: 10px;
  padding: 10px;
}
.table th{
  color: red;
  background-color: palegreen;
  font-size: 20px;
  align-items: center;
}

.table td{
  background-color: lightgray;
}

.form{
  font-size: 25px;
  border-radius: 20px;
  background-color: antiquewhite;
  padding: 20px;
}
.form button{
  font-size: 25px;
  color: white;
  border-radius: 5px;
}
.form input{
  size: 50px;
}

a{
  font-size: 30px;
  text-decoration: none;
}

table{
    width: 100%;
    border-color:black;
    border-collapse: collapse;
}
th{
    background-color: f2f211;
    border:2px solid;
    paddining:8px;
    color: red;
}

td{
    border:2px solid;
    paddining:8px;
    background-color: 999999;
}

/* profile part PINK */
.content{
    padding:3px;
    width:100%;
    background-color: f400f4;
    border-radius: 30px;
    color: 333;
}


.home{
    padding:3px;
    width:100%;
    background-color: f400f4;
    border-radius: 30px;
    color: 333;
}

.about{
  background-color: lightcoral;  
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.request{
  background-color: white;
}