


.image{
    width:50px;
    height:50px;
    border-radius: 30px;
}

.table{
    width: 90%;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
}

table{
    width: 100%;
    border-color:black;
    border-collapse: collapse;
    background-color: #c0aeff;
    box-shadow: 5px 5px 5px 5px #888888;
}
th{
    background-color: f2f211;
    border:2px solid;
    paddining:8px;
    color: red;
}

td{
    border:2px solid;
    paddining:8px;
    background-color: 999999;
}

/* profile part PINK */
.content{
    padding:3px;
    width:100%;
    color: blue;
    background-color: f400f4;
    border-radius: 30px;
    color: 333;
    box-shadow: 5px 5px 5px 5px #888888;
}


/* OVERALL BACKGROUND */
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color: lightsalmon;
    font-size: 20px;
}

.content {
    flex-grow: 1;
    padding: 10px;
    
    background-color: #f400f4;
    box-shadow: 5px 5px 5px 5px #888888;
}

.header {
    background-color: red;
    color: white;
    padding: 10px;
    display: vertical;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #888888;
}


.footer{
    background-color: green;
    border-radius: 10px;
    padding: 10px;
}
.adv{
    background-color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
}
.about a{
    width: 40%;
    text-decoration: none;
    font-size: 12px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.button{
  text-decoration: none;
  font-size: 30px;
  color: White;
  border-radius: 20px;
  background-color:blue;
    border: none;
}

a{
    text-decoration: none;
    color: white;
}


.form{
  font-size: 25px;
  border-radius: 20px;
  background-color: antiquewhite;
  padding: 20px;
}

.success{
    padding: 10px;
    font-size: 20px;
    background-color: greenyellow;
    width: 100%;
}
.fail{
    padding: 10px;
    font-size: 10px;
    color: red;
    width: 100%;
    background-color: white;
    box-shadow: 5px, 5px, 5px, 5px, #555555;
    height: 100px;
}