{% extends "front.html" %}
{% block title %} About {%endblock%}
{% block content %}

<h1><b><i>About Kimtech </i></b></h1>

<div class="about">
<p>
				<b><i><u>Kimtech</u></i></b>
				is a technology company running in 
				Uganda currently. 
It’s currently offering a multilevel
				marketing environment where registered 
				members can earn clean income and
				without any effort.
</p>
</div>

<h1><b><i> HOW TO GET STARTED 
				AND EARN MONEY ? </i></b></h1>
<p>
				<ol>
								<li>
													HOW TO REGISTER.
								</li>
							<div class="about">
												<ul>
												<li>
																	First submit your registration
																form with the transaction id to
																prove your payment.
												</li>
								</div> <br /></br />
												<div class="about">
																<li>
																Your form will be received by
																the system administrators and 
																your account will be activated
																immediately in the system.
												</li>
												</div>
								</ul>
								<li>
												HOW TO EARN MONEY
								</li>
								<ul>
												<div class="about">
																<li>
																	After submitting your 
																registration form and your 
																account is activated ,in 
																order for you to earn money, 
																you need to register at least
																three(3) members using your
																personal ID as their Recruiter
																ID for you to receive a payment
																<i><b>   (This is because the
																				system depends on 
																the recruiter ID for a payment to 
																be initiated, so make sure 
																whoever you bring into the system 
																use your ID as their recruiter
																ID. And also when your recruits
																are bring in their members, they
																should use their ID as recruiter
																ID for their members).</b></i>

												</li>
												</div>
								</ul>
								<li>
												<b>				<i>		<u> Methods of earning. </i></b> </u>    
								</li>
								<ul>
											<div class="about">
																	<li>
																	Let’s say you have registered
																members(a, b & c).
												</li>
												</div> <br /></br />
												<div class="about">
																<li>
																Each member you register 
																(using your ID as their
																recruiter ID), you instantly 
																receive a gift of UGX 10,000/= 
																on your account.
												</li>
																
												</div> <br /></br />
												
												<div class="about">
																<li>
																Whenever the system detects
																three (3) members added under 
																your tree, you will receive a 
																bonus of UGX 3,000/= on your 
																account.
												</li>
												</div> <br /></br />
												
												<div class="about">
																<li>
																Therefore here you are free to
																rest at least (a, b and c) to 
																work for you and you continue 
																earning on your account.
												</li>
												</div> <br /></br />
												
											<div class="about">
																<li>
																The members you registered as 
																(a, b and c) will also do the 
																same thing you have done. 
																They will also register their 
																members using their 
																<i><b>							(a, b & c)</b></i> personal IDs 
																as the recruiter IDs. 
																They will also receive a gift 
																(UGX 10,000/=) on each member 
																they register like the way you 
																did.
												</li>
																
												</div> <br /></br />
												<div class="about">
																<li>
																	Whenever the system detects
																three (3) added members under 
																them they will also receive a
																bonus, and you will also 
																receive that same amount 
																(UGX 3000/=) on your account.
												</li>
																
												</div>
												 <br /></br />
												<div class="about">
																<li>
																Each member brought into the 
																system will also do the same as
																you did and that’s how each one
																will keep on earning endlessly.
												</li>
												</div>
												
								</ul>
				</ol>
</p>
<h2><i> NOTE; </i></h2>
<ol>
				<div class="about">
								<li>
								There is no limit on the number
								of people or members you register
								using your ID. Your ID is the
								recruiter ID of the person you 
								register.
				</li>
				</div> <br /></br />
				<div class="about">
									<li>
									The tree will keep on expanding 
								and the more it expands, is the more
								you earn without even doing anything 
								(Even if you stopped at only the 3
								members you will continue to earn
								on your account).
				</li>
				</div> <br /></br />
				
				<div class="about">
								<li>
									Each member in the system will 
								earn in the similar way.
				</li>
				</div> <br /></br />
				
				<div class="about">
								<li>
									Each member will be able to view
								all members under him/her, but 
								cannot see all their data.
								It’s only their IDs, Username, 
								& Recruiter IDs will be exposed 
								to the recruiters .the rest of
								the member’s information will be
								kept private and secure.
				</li>
				</div> <br /></br />
				<div class="about">
									<li>
								Remember each member you register, 
								you will receive the gift (UGX 10,000/=) 
								And whenever the system detects an
								addition of 3 members under your
								tree, whether you are the one added
								him/her or not, that’s a sure deal
								bonus (UGX 3,000/=) 
				</li>
				</div> <br /></br />
				<div class="about">
								<li>
									You can apply for a withdrawal 
								at any time and there is no 
								minimum amount to withdraw from
								your account.
				</li>
				</div>
</ol>

<p>
				<b> <br /></br />
								<div class="about">
																						HAPPY INVESTMENT WITH
								<i> Kikimtech. </i> <br />
								Let’s win our dreams together
								<i> without energy </i> but with
								<i> <u> brain.</u></i>😎😎😎
								
								</div>
		
				</b>
</p><br /></br />
<div class="about">
				If anything is not clear, feel free to
use the below contacts at any time. Thank you!!!
</div>
{%endblock%}