<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"> 
      
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</head>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/67bf189bbc951a190b43eff5/1il17g87h';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<body>
    <div class="header">
        <img src="static/logo.png" class="image">
        <span style="font-size:40px;  color: blue;"><b><i> kimtech</i></b></span>
        <p style="font-size:10px;">We Transform Ideas To Live Experience.</p>  
    </div>
    <br />
    <div class="about" >
        <a href="/about" style="font-size:15px; color: blue;"><b><i> Why Should I Join?</i></b></a>
    </div>
    <hr />
				{% block content %}  {% endblock %}
    <hr />
    
    <div class="footer">
   									 <footer>
        <p>
            Just a single tap below 👇👇👇and reach us:<br />
            E-mail: <a href="mailto:kimtech006@gmail.com">  kimtech006@gmail.com</a>  <br />     
            Tel:    <a href="tel:+256706749801"> +256706749801</a> / 
            <a href="tel:+256761357092"> +256761357092</a>
        </p>
        ©kimtech 2025
      </footer>
    </div>
    
</body>
</html>