{%extends "base.html"%}
{% block content %}
    <div class="sidebar">
        <a href="#">Home</a>
        <a href="#">Member</a>
        <a href="#">Shop</a>
        <a href="#">Wallet</a>
        <a href="#">Bonus Report</a>
        <a href="#">Messages</a>
        <a href="#">Info</a>
    </div>
    <div class="main-content">
        <div class="header">
            <div>Welcome REV SSERWADDA SAMUEL</div>
            <div>Member Profile</div>
        </div>
        <div class="wallet">
            <h2>0.00 UGX</h2>
            <p>0.00 USD</p>
            <p>Bonus Wallet</p>
            <button>View Details</button>
        </div>
        <div class="wallet">
            <h2>0.00 UGX</h2>
            <p>0.00 USD</p>
            <p>E-Wallet</p>
            <button>View Details</button>
        </div>
        <div class="wallet">
            <h2>0.00 UGX</h2>
            <p>0.00 USD</p>
            <p>Repurchase Wallet</p>
            <button>View Details</button>
        </div>
    </div>
				
				{% endblock %}