{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
   
<h1>Welcome,</h1>

<div class="content">
    
    
    <h3 style="color:blue">  Username : {{uname}} </h3>      
    <h3>My ID : {{myId[0]}}</h3>
    <h3>Balance : {{bal[0]}}</h3>
<h3>Total recruits: {{total[0]}}</h3>
    
    <button class="button"><a href="/withdraw">Withdraw</a></button>
</div>

<br />

<div class="adv">
<p>Do you have a new member, contact us and 
  		  receive cash. contacts are provided
  		  on the bottom of the page.
</p>
</div>


    <h1 style="color:blue;">My Recruits</h1>  

<div class="table">
 <table>
    <th>ID</th>
    <th>Username</th>
    <th>Recruiter</th>
       {% for r in recruits: %}
    <tr>
        <td>{{r[0]}}</td>
        <td>{{r[1]}}</td>
        <td>{{r[2]}}</td>
    </tr>
    {% endfor %}
</table> 
</div>
 
{% endblock %}