{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="logo">
  		  <img src="static/logo.png" class="logo">
    <span style="font-size:40px;  color: blue;"><b><i> kimtech</i></b></span>
    </div><br /><br />
   
<h1>Welcome,</h1>


    

<div class="content">
    
        
        <!--   </h1> <a href="#profile"> <img src="static/profile.jpeg" class="img"> </a> -->     
    
    <h3 style="color:blue">  Name : {{uname}} </h3>      
    <h3>My ID : {{myId[0]}}</h3>
    <h3>Balance : {{bal[0]}}</h3>
<h3>Total recruits: {{total[0]}}</h3>

</div>


<p>Do you have a new member, contact us and 
  		  receive cash. contacts are provided
  		  on the bottom of the page.
</p>
    <h1 style="color:blue;">My Recruits</h1>  


 <table>
    <th>ID</th>
    <th>Username</th>
    <th>Recruiter</th>
       {% for r in recruits: %}
    <tr>
        <td>{{r[0]}}</td>
        <td>{{r[1]}}</td>
        <td>{{r[2]}}</td>
    </tr>
    {% endfor %}
</table> 
 
{% endblock %}