{% extends "base.html" %}
{% block title %} How to pay {% endblock %}

{% block content %}
   
<h2>Payment tutorial</h2>
<h3>a). Airtel Money</h3>
<ul>
				<li>
								<b><i>
										1.		Short cut
								</i></b><br />
								Click <a href="tel:*185*9*6743740*30000#">HERE</a>  
								to open dial pad with auto filled USSD code.
								Fix a " # " on it and then yes.
				</li>
				<li>
								Enter reference as the Name you gonna register
								in the registration form.
				</li>
				<li>
								Enter your PIN.
				</li>
				<li>
								From the message you receive after payment, 
								Copy the <b>Transaction ID (TID/ TXN ID)</b>
								and fill it in the <b>Transaction ID</b>
								field of the registration form to proove your payment. 
				</li>
				<li>
								Continue filling your form and submit.
				</li>
</ul>

<ul>
				<li>
								<b>2.Alternatively, dial *185*9#</b>
				</li>
				<li>Enter merchant ID " 6743740 "</li>
				<li>Enter ammount 30000</li>
				<li>Enter reference as your name which you gonna 
								use for registration.
				</li>
				<li>Enter your PIN and after copy TXN ID from
								the message you will receive.
				</li>
		<li>
				Finally, take the screenshot of the message also
				( or take a clear photo of it incase you
				have used a different device for payments
				and send it on this WhatsApp number.
				Clic  <a href=" https://api.whatsapp.com/send/?phone=256706749801&text&type=phone_number&app_absent=0&wame_ctl=1 ">0706749801</a> to redirect you. 
				or copy it & send that screenshot on it.
				
				Thank you.
		</li>
</ul>
<p>
				<b><i><u>NOTE</u></i></b><br />
				Make sure the ammount is UGX 30000 <br /><br />
				The merchant code is registered in name
				" CHARLES KIMERA, trading as Kimtech ".
				<br /><br />
				Try being carefull in each and every step before 
				you submit anything please because the system is very 
				sensitive to every information entered into it for security 
				purposes. This will keep you confusion free.  <br /><br />
				Thank you for choosing Kimtech
</p>
{%endblock%}