{% extends "front.html" %}
{% block title %} How To Pay {%endblock%}
{%block content %}
<h1>Payment directions</h1>

<p>
								<ol>
												<li><b>For Airtel Money</b></li>
												<ul>
																<li>
																				For direct code, click<a href="tel: *185*9*6743740*30000 ">dial</a>,
																				It will take you direct to dial pad, but <b>fix a " # "</b> 
																				on the end of the code you receive.
																</li>
																<li>
																				Enter Reference<b>(as your Full name to be used 
																								in registration form)</b>
																</li>
																<li>
																				Enter your PIN to confirm payment
																</li>
																<li>
																				From the message you receive after payment, copy the Transaction ID (TID/ TXN ID)
																				and fill it correctly in the Transaction ID field of this form.
																</li>
																<li><b><i>If the above is not clear,
																				try this still for Airtel.
																</i></b></li>
																<li>
																				Open your phone Dial pad,<br />
																				dial <b> *185# </b>
																</li>
																<li>
																				Enter option <b>9</b> (Airtel Money Pay)
																</li>
																<li>
																				Enter Merchant ID <b>67 43 740</b>
																</li>
																<li>
																				Enter reference as your <b>Full names</b>
																</li>
												</ul>
								</ol>
								
				</p>

{%endblock%}